<!-- templates/layout.html -->
<!DOCTYPE html>
<html lang="ru">
<head>
  <meta charset="UTF-8">
  <title>{% block title %}Light'em Up!{% endblock %}</title>
  <!-- Общий CSS -->
  <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
  {% block head %}{% endblock %}
</head>
<body class="bg-light">

<!-- Шапка (header) -->
<div class="header">
  <div class="container header-container">
    <h1 class="logo">Light'em Up!</h1>
    <div class="auth-links">
      {% if session.user_id %}
        <a href="{{ url_for('profile') }}">Мой профиль</a>
        <a href="{{ url_for('logout') }}" class="btn-logout">Выход</a>
      {% else %}
        <a href="{{ url_for('index') }}" class="btn-login">Вход</a>
      {% endif %}
    </div>
  </div>
</div>

<!-- Основной контент -->
<div class="content container">
  {% block content %}{% endblock %}
</div>

</body>
</html>
